<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Web-developer from Saint-Petersburg." />
        <title><%= title %></title>
        <% metaOG.forEach(function(item) { %>
            <meta property="<%= item.property %>" content="<%= item.content %>" />
        <% }) %>
        <% files.css.forEach(function (src) { %>
            <link rel="stylesheet" href="<%= src %>">
        <% }) %>
    </head>
    <body>
        <div id="root"></div>
        <% files.js.forEach(function(src) { %>
            <script src="<%= src %>" defer></script>
        <% }) %>
    </body>
</html>
